mypy-extensions==1.0.0 ; python_version >= "3.8" and python_version < "3.11"
mypy==1.0.1 ; python_version >= "3.8" and python_version < "3.11"
pyqt5-qt5==5.15.2 ; python_version >= "3.8" and python_version < "3.11"
pyqt5-sip==12.11.1 ; python_version >= "3.8" and python_version < "3.11"
pyqt5==5.15.9 ; python_version >= "3.8" and python_version < "3.11"
pyqt6-qt6==6.4.2 ; python_version >= "3.8" and python_version < "3.11"
pyqt6-sip==13.4.1 ; python_version >= "3.8" and python_version < "3.11"
pyqt6==6.4.2 ; python_version >= "3.8" and python_version < "3.11"
pyside2==5.15.2.1 ; python_version >= "3.8" and python_version < "3.11"
pyside6-addons==6.4.2 ; python_version >= "3.8" and python_version < "3.11"
pyside6-essentials==6.4.2 ; python_version >= "3.8" and python_version < "3.11"
pyside6==6.4.2 ; python_version >= "3.8" and python_version < "3.11"
shiboken2==5.15.2.1 ; python_version >= "3.8" and python_version < "3.11"
shiboken6==6.4.2 ; python_version >= "3.8" and python_version < "3.11"
tomli==2.0.1 ; python_version >= "3.8" and python_version < "3.11"
typing-extensions==4.5.0 ; python_version >= "3.8" and python_version < "3.11"
