mypy-extensions==1.0.0 ; python_version >= "3.8" and python_version < "3.12"
mypy==1.7.1 ; python_version >= "3.8" and python_version < "3.12"
numpy==1.24.4 ; python_version >= "3.8" and python_version < "3.12"
pyqt5-qt5==5.15.11 ; python_version >= "3.8" and python_version < "3.12"
pyqt5-sip==12.13.0 ; python_version >= "3.8" and python_version < "3.12"
pyqt5==5.15.10 ; python_version >= "3.8" and python_version < "3.12"
pyqt6-qt6==6.6.0 ; python_version >= "3.8" and python_version < "3.12"
pyqt6-sip==13.6.0 ; python_version >= "3.8" and python_version < "3.12"
pyqt6==6.6.0 ; python_version >= "3.8" and python_version < "3.12"
pyqtgraph==0.13.3 ; python_version >= "3.8" and python_version < "3.12"
pyside6-addons==6.6.0 ; python_version >= "3.8" and python_version < "3.12"
pyside6-essentials==6.6.0 ; python_version >= "3.8" and python_version < "3.12"
pyside6==6.6.0 ; python_version >= "3.8" and python_version < "3.12"
shiboken6==6.6.0 ; python_version >= "3.8" and python_version < "3.12"
tomli==2.0.1 ; python_version >= "3.8" and python_version < "3.11"
typing-extensions==4.8.0 ; python_version >= "3.8" and python_version < "3.12"
