mypy-extensions==1.0.0 ; python_version >= "3.9" and python_version < "3.13"
mypy==1.10.1 ; python_version >= "3.9" and python_version < "3.13"
numpy==1.26.4 ; python_version >= "3.9" and python_version < "3.13"
pyqt5-qt5==5.15.14 ; python_version >= "3.9" and python_version < "3.13"
pyqt5-sip==12.15.0 ; python_version >= "3.9" and python_version < "3.13"
pyqt5==5.15.10 ; python_version >= "3.9" and python_version < "3.13"
pyqt6-qt6==6.7.2 ; python_version >= "3.9" and python_version < "3.13"
pyqt6-sip==13.8.0 ; python_version >= "3.9" and python_version < "3.13"
pyqt6==6.7.0 ; python_version >= "3.9" and python_version < "3.13"
pyqtgraph==0.13.7 ; python_version >= "3.9" and python_version < "3.13"
pyside6-addons==6.7.2 ; python_version >= "3.9" and python_version < "3.13"
pyside6-essentials==6.7.2 ; python_version >= "3.9" and python_version < "3.13"
pyside6==6.7.2 ; python_version >= "3.9" and python_version < "3.13"
shiboken6==6.7.2 ; python_version >= "3.9" and python_version < "3.13"
tomli==2.0.1 ; python_version >= "3.9" and python_version < "3.11"
typing-extensions==4.12.2 ; python_version >= "3.9" and python_version < "3.13"
